<%- include('partials/head') %>
    <title>
        Editar imagen del producto
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/products.css">
    </head>

    <body>
        <header>
            <%- include('partials/navbar') %>
                <!--Completar con los distintos items del navbar-->
                <div class="nav-menu">
                    <a href="/gaminglife/usuario/login" class="nav-item">Iniciar sesion</a>
                    <a href="/gaminglife/productos/lista" class="nav-item">Lista de productos</a>
                    <a href="" class="nav-item">Quienes somos</a>
                    <a href="" class="nav-item">
                        <img src="/images/iconos/bx-cart.svg" alt="Carrito">
                    </a>
                </div>
                </div>
                </nav>
        </header>
        <main class="main-conteiner">
            <h2 class="secTitle">Estas editando <%=producto.name%></h2>
            <form action="/gaminglife/productos/actualizado" class="product-box" method="POST" enctype="multipart/form/dat">
                <div class="img-conteiner">
                    <img src="/images/imgProductos/<%=producto.img%>" class="product-img-detail" alt="">
                    <p>Imagen actual del producto</p>
                </div>
                <div>
                    <input type="file" name="img">
                    <button type="submit">Actualizar Imagen</button
                ></div>
            </form>

        </main>
        
    </body>
    <%- include('partials/footer') %>
    </html>