<%- include('partials/head') %>
    <title>
        Crear producto
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/products.css">
    </head>

    <body>
        <header>
            <%- include('partials/navbar') %>
                <!--Completar con los distintos items del navbar-->
                <div class="nav-menu">
                    <a href="/gaminglife/usuario/login" class="nav-item">Iniciar sesion</a>
                    <a href="/gaminglife/productos/lista" class="nav-item">Lista de productos</a>
                    <a href="" class="nav-item">Quienes somos</a>
                    <a href="" class="nav-item">
                        <img src="/images/iconos/bx-cart.svg" alt="Carrito">
                    </a>
                </div>
                </div>
                </nav>
        </header>
        <main class="main-conteiner">
            <h2>Estas editando <%=productToEdit.name%></h2>
            <form action="/gaminglife/productos/productoNuevo" class="product-box" autocomplete="off" method="POST">
                <div class="img-conteiner">
                    <img src="/images/imgProductos/default-image.png" class="product-img-detail" alt="">
                    <p>La imagen la seleccionara mas adelante</p>
                </div>

                <div class="create-form">
                    <label for="name">Nombre del producto</label>
                    <input value="<%=productToEdit.name%>" type="text" name="name" placeholder="Ingrese el nombre" required>
                    
                    <label for="price">Precio del producto</label>
                    <input value="<%=productToEdit.price%>" type="number" name="price" placeholder="Ingrese el precio" required>
                    
                    <label for="description">Descripcion del producto</label>
                    <textarea value="<%=productToEdit.description%>" name="description" cols="30" rows="10" required>Completar con la información del producto</textarea>
                    
                    <select name="categoria" name="category" required>
                        <option selected>Selecciona la categoria</option>
                        <option value="Componente">Componente</option>
                        <option value="Almacenamiento">Almacenamiento</option>
                        <option value="Periferico">Periferico</option>
                    </select>

                    <button type="submit">Enviar</button>
                    <button>Eliminar</button>
                </div>
            </form>

        </main>
        <footer>
            <div class="grupo_1">
                <div class="box">
                    <h2>Categoria</h2>

                    <ul>

                        <li><a href="#">Placas de video</a></li>
                        <li><a href="#">Procesadores</a></li>
                        <li><a href="#">Memoria</a></li>
                        <li><a href="#">Almacenamiento</a></li>
                        <li><a href="#">Refrigeracion</a></li>

                    </ul>
                </div>
                <div class="box">

                    <h2> Marcas</h2>
                    <ul>
                        <li><a href="#">Intel</a></li>
                        <li><a href="#">Amd</a></li>
                        <li><a href="#">Asus</a></li>
                        <li><a href="#">Nvidia</a></li>
                        <li><a href="#">Asrock</a></li>
                    </ul>

                </div>
                <div class="box">
                    <h2> Ayuda</h2>
                    <ul>
                        <li><a href="#">Whatsapp</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Botón de arrepentimiento</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h2>Seguinos en nuestras redes</h2>
                    <div class="red_social">
                        <img src="images\iconos\bxl-instagram.svg" width="50" height="50" alt="instagram">
                        <img src="images\iconos\bxl-whatsapp.svg" width="50" height="50" alt="whatsapp">
                        <img src="images\iconos\bxl-facebook.svg" width="50" height="50" alt="facebook">

                    </div>
                </div>
            </div>
            <div class="grupo_2"></div>
        </footer>
    </body>

    </html>