<%- include('partials/head') %> 
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <header>
        <%- include('partials/navbar') %> 
        <!--Completar con los distintos items del navbar-->
        <div class="nav-menu">
            <a href="/gaminglife/usuario/login" class="nav-item">Iniciar sesion</a>
            <a href="/gaminglife/productos/crear" class="nav-item">Crear Producto</a>
            <a href="" class="nav-item">Quienes somos</a>
            <a href="" class="nav-item">
                <img src="/images/iconos/bx-cart.svg" alt="Carrito"></a>
                </div>
            </div>
        </nav>

    </header>
    <main>

        <section class="catalogo">
            <div class="grid-layout" >
                <% listaProductos.forEach((producto) => { %> 
                <article class="producto">
                    <img src="/images/imgProductos/<%= producto.img %>" alt="imagen producto" class="product-img">
                    <div class="product-name"><%= producto.name%></div>
                    <div class="product-prize"><%= producto.price%></div>
                    <div class="product-payments"><%= producto.payments%> cuotas</div>
                    <a href='/gaminglife/productos/detalle/<%= producto.id %> ' class="product-viewmore">ver más</a>
                </article>
                <% }) %>
            </div>
        </section>

    </main>
    <footer>
        <div class="grupo_1">
            <div class="box">
                <h2>Categoria</h2>

                <ul>

                    <li><a href="#">Placas de video</a></li>
                    <li><a href="#">Procesadores</a></li>
                    <li><a href="#">Memoria</a></li>
                    <li><a href="#">Almacenamiento</a></li>
                    <li><a href="#">Refrigeracion</a></li>

                </ul>
            </div>
            <div class="box">

                <h2> Marcas</h2>
                <ul>
                    <li><a href="#">Intel</a></li>
                    <li><a href="#">Amd</a></li>
                    <li><a href="#">Asus</a></li>
                    <li><a href="#">Nvidia</a></li>
                    <li><a href="#">Asrock</a></li>
                </ul>

            </div>
            <div class="box">
                <h2> Ayuda</h2>
                <ul>
                    <li><a href="#">Whatsapp</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Botón de arrepentimiento</a></li>
                </ul>
            </div>
            <div class="box">
                <h2>Seguinos en nuestras redes</h2>
                <div class="red_social">
                    <img src="images\iconos\bxl-instagram.svg" width="50" height="50" alt="instagram">
                    <img src="images\iconos\bxl-whatsapp.svg" width="50" height="50" alt="whatsapp">
                    <img src="images\iconos\bxl-facebook.svg" width="50" height="50" alt="facebook">

                </div>
            </div>
        </div>
        <div class="grupo_2"></div>
    </footer>
</body>

</html>