<%- include('partials/head') %>
    <title><%= producto.name%></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/footer.css">
    </head>

    <body>
        <header>
            <%-include ('partials/navbar') %>
        </header>
        <main class="main-conteiner">
            <section class="product-box">
                <div class="img-conteiner">
                    <img src="/images/imgProductos/<%= producto.img%>" class="product-img-detail" alt="">
                </div>

                <div class="features">
                    <h1 class="p-name"><%= producto.name%></h1>
                    <h2 class="p-price">Precio: <%= producto.price%></h2>
                    <div class="button-conteiner">

                    <button class="buttonP" type="submit">Agregar al carrito</button>
                    <a href="/gaminglife/productos/editar/<%= producto.id %>"><button class="buttonP" type="submit">Editar</button></a>
                    
                    <button class="buttonComprar" type="submit">Comprar</button>

                    </div>    
                </div>
            </section>
            <section class="description-box">
                <h2>Descripcion del producto:</h2>
                <p class="p-description"><%= producto.description%></p>
                
            </section>

            <section class="relation-box">
                <h2>Productos relacionados</h2>
            </section>
        </main>
        
    </body>
    <%- include('partials/footer') %>
    </html>