<%- include("partials/head") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/estilohome.css">
    <link rel="stylesheet" href="/css/estilo-nav.css">
    <link rel="stylesheet" href="/css/estilo-footer.css">
    <script src="https://kit.fontawesome.com/59856da62e.js" crossorigin="anonymous"></script>
    <script src="/css/script/carrito.js" async></script>
    <script defer src="/script/menu.js"></script>
    <title>Gaming life </title>
</head>
<body>
        <%- include('partials/navbar') %> 
        
        <div>
            <section class="section-header">
                <div class="contenedor-header">
                    <p class="nombre">Gaming Life</p>
                    <a href="/gaminglife/usuario/register">Crear Cuenta</a>
                    <a href="/gaminglife/usuario/login">Ingresar</a>
                </div>
            </section>
        </div>
    
        <main>
    
            <p class="div-categorias"> Componentes </p>
            <section class="contenedor" id="productos-mas-vistos">
                <% products.forEach(producto=> { if (producto.category_id == 1) { %>
                    <div class="contenedor-items">
                        <div class="item">
                            <img src="/images/imgProductos/<%= producto.img %>" alt="" class="img-item">
                            <span class="nombre-item">
                                <%= producto.name %>
                            </span>
                            <span class="precio-item">precio: <%= producto.price %> </span>
                            <button class="boton-item">
                                <a href="/gaminglife/ventas" class="nav-menu-link nav-link">Comprar</a>
                            </button>
                        </div>
                    </div>
                    <% }}) %>
            </section>
        
            <p class="div-categorias"> Almacenamiento </p>
            <section class="contenedor" id="productos-mas-vistos">
                <% products.forEach(producto=> { if (producto.category_id == 2) { %>
                    <div class="contenedor-items">
                        <div class="item">
                            <img src="/images/imgProductos/<%= producto.img %>" alt="" class="img-item">
                            <span class="nombre-item">
                                <%= producto.name %>
                            </span>
                            <span class="precio-item">precio: <%= producto.price %> </span>
                            <button class="boton-item">
                                <a href="/gaminglife/ventas" class="nav-menu-link nav-link">Comprar</a>
                            </button>
                        </div>
                    </div>
                    <% }}) %>
            </section>
        
            <p class="div-categorias"> Periféricos </p>
            <section class="contenedor" id="productos-mas-vistos">
                <% products.forEach(producto=> { if (producto.category_id == 3) { %>
                    <div class="contenedor-items">
                        <div class="item">
                            <img src="/images/imgProductos/<%= producto.img %>" alt="" class="img-item">
                            <span class="nombre-item">
                                <%= producto.name %>
                            </span>
                            <span class="precio-item">precio: <%= producto.price %> </span>
                            <button class="boton-item">
                                <a href="/gaminglife/ventas" class="nav-menu-link nav-link">Comprar</a>
                            </button>
                        </div>
                    </div>
                    <% }}) %>
            </section>
        </main>
    
        <%- include('partials/footer') %>
    </body>