<%-include('partials/head') %>
<link rel="stylesheet" href="/css/reglogstyle.css">
<link rel="stylesheet" href="/css/estilo-footer.css">

<title>login</title>
<header>
    <%-include('partials/navbar') %>
</header>
<main>
<div class="container-login">
    <h1 class="title">Ingresa a tu cuenta</h1>
    <div class="form-checkbox">多No estas registrado? <a href="/gaminglife/usuario/register">Crea tu cuenta Aqui</a>
        </div>
    <form action="/gaminglife/usuario/login" autocomplete="off" method="post">
        <div class="main-user-information">
            <div class="user-input-box">
                <label for="username">Usuario</label>
                <input type="text" name="username" id="username" placeholder="Ingresa tu usuario"/>
                <p class="error" id="error"></p>
                <% if (locals.errors?.username) { %>
                    <div class = "register-error-message"><%= errors.username.msg %></div>
                    <% } %>
            </div>
            <div class="user-input-box user-input-password">
                <label for="password">Contrase単a</label>
                <input type="password" name="password" id="password" placeholder="Ingrese su contrase単a"/>
                <p class="error" id="error"></p>
                <% if (locals.errors?.password) { %>
                    <div class = "register-error-message"><%= errors.password.msg %></div>
                    <% } %>
            </div>
            <div class="form-checkbox">
                <input type="checkbox" name="rememberMe" id="remember-me">
                <label for="remember-me">Recordar mi contrase単a</label>
            </div>
            <div class="form-submit-button">
                <input type="submit" value="Ingresar">
            </div>
        </div>
    </form>
</div>
<script src="/script/login.js"></script>
</main>
</body>  
<%- include('partials/footer') %>
</html>