<%- include('partials/head') %>
    <title>
        Crear producto
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilo-nav.css">
    <link rel="stylesheet" href="/css/estilo-footer.css">
    <link rel="stylesheet" href="/css/products.css">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <%-include ('partials/navbar') %>
        </header>
        <main class="main-conteiner">

            <form action="/gaminglife/productos/crear" class="product-box" autocomplete="off" method="POST" enctype="multipart/form-data">
                <div class="img-conteiner">
                    <img src="/images/default-image.png" class="product-img-detail" alt="">
                    <div>
                        <input type="file"  id="img" name="img" accept="image/png, image/jpeg" required>
                    </div>
                </div>

                <div class="create-form">
                    <label for="name">Nombre del producto</label>
                    <input type="text" name="name" placeholder="Ingrese el nombre" required>
                    
                    <label for="price">Precio del producto</label>
                    <input type="number" name="price" placeholder="Ingrese el precio" required>
                    
                    <label for="description">Descripcion del producto</label>
                    <textarea name="description" cols="30" rows="10" required>Completar con la información del producto</textarea>
                    
                    <select name="category_id" required>
                        <option selected>Selecciona la categoria</option>
                        <% categories.forEach(category => {%>
                            <option value="<%= category.id %>"><%= category.name %></option>
                        <%}); %>
                    </select>

                    <button type="submit">Enviar</button>
                </div>
            </form>

        </main>
        <%- include('partials/footer') %>
    </body>

    </html>