<%-include('partials/head') %>
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/estilo-footer.css">
    <title>Mi perfil</title>

    <body>
        <header>
            <%-include ('partials/navbar') %>
        </header>
        <main>
            <div class="profile-container">
                <div class="pfp">
                    <img class="user-avatar" src="/images/userImg/<%= user.img %>">
                <h1 class="title">¡Que bueno verte de vuelta, <%= user.name %>!</h1>
                <div class="user-details">Nombre y apellido
                <div class="user-data">
                    <%= locals.user.name%>
                </div>
                <div class="user-details">Usuario
                    <div class="user-data">
                        <%= locals.user.username%>
                    </div>
                    <div class="user-details">Casilla de mail
                        <div class="user-data">
                            <%= locals.user.email%>
                        </div>
                        <div class="btn">
                            <a class="btn" href="/gaminglife/usuario/logout">Cerrar Sesion</a>
                        </div>
        </main>
    </body>
    <%- include('partials/footer') %>