<%-include('partials/head') %>
<link rel="stylesheet" href="/css/reglogstyle.css">
<link rel="stylesheet" href="/css/estilo-footer.css">

<title>Registro</title>
<body>
    <header>
        <%-include('partials/navbar') %>
    </header>
   
<main>
    <div class="container-login">
        <h1 class="title">Registrar nueva cuenta</h1>
        <div class="form-checkbox">¿Ya estas registrado? <a href="/gaminglife/usuario/login">Ingresa a tu cuenta</a>
        </div>
        <form action="/gaminglife/usuario/register" autocomplete="off" method="post" enctype="multipart/form-data">
            <div class="main-user-information">
            <div class="user-input-box">
                <label for="fullName">Nombre y apellido</label>
                <input type="text" name="fullname" id="fullname" placeholder="Ingrese nombre completo"/>
                <p class="error" id="error"></p>
                <% if (locals.errors?.fullname) { %>
                    <div class = "register-error-message"><%= errors.fullname.msg %></div>
                    <% } %>
            </div>
            <div class="user-input-box">
                <label for="username">Usuario</label>
                <input type="text" name="username" id="username" placeholder="Ingrese nombre de usuario deseado"/>
                <p class="error" id="error"></p>
                <% if (locals.errors?.username) { %>
                    <div class = "register-error-message"><%= errors.username.msg %></div>
                    <% } %>
            </div>
            <div class="user-input-box">
                <label for="email">E-Mail</label>
                <input type="text" name="email" id="email"placeholder="Ingrese su E-Mail"/>
                <p class="error" id="error"></p>
                <% if (locals.errors?.email) { %>
                    <div class = "register-error-message"><%= errors.email.msg %></div>
                    <% } %>
            </div>
            <div class="user-input-box">
                <label for="birthday">Fecha de nacimiento</label>
                <input type="date" name="birthday" id="birthday" placeholder="Ingrese fecha de nacimiento"/>
                <% if (locals.errors?.birthday) { %>
                    <div class = "register-error-message"><%= errors.birthday.msg %></div>
                    <% } %>
                    <div class="user-input-box">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password" placeholder="Ingrese su contraseña"/>
                        <p class="error" id="error"></p>
                        <% if (locals.errors?.password) { %>
                            <div class = "register-error-message"><%= errors.password.msg %></div>
                            <% } %>
                        </div>
                        <div class="user-input-box">
                            <label for="confirmPassword">Confirmar contraseña</label>
                            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirme su contraseña"/>
                            <p class="error" id="error"></p>
                            <% if (locals.errors?.confirmPassword) { %>
                                <div class = "register-error-message"><%= errors.confirmPassword.msg %></div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="form-img-upload">
                    <label for="img">Selecciona tu imagen de perfil:</label>
                    <br>
                    <input type="file"  id="img" name="img" accept="image/png, image/jpeg">
                    <p class="error" id="error"></p>
                    <% if (locals.errors?.img) { %>
                        <div class = "register-error-message"><%= errors.img.msg %></div>
                        <% } %>
                    </div>
                    <br>
                        <div class="form-checkbox">
                            <input type="checkbox" name="notifications" id="notifications">
                            <label for="notifications">Deseo recibir novedades y ofertas por E-Mail</label>
                        </div>
        <div class="form-submit-button">
            <input type="submit" name="submit" value="Confirmar Registro" id="submit">
        </div>
        </form>
    </div>
    <%- include('partials/footer') %>
    <script src="/script/register.js"></script>
</main>
</body>
</html>